*{
    margin: 0px;
    padding: 0px;
    
 background-color:rgb(119, 113, 177);
}
nav {
    background-color:rgb(2, 1, 15);
 color:rgb(0, 0, 0);
 font-size: 25px;
 height: 25px;
 padding: 10px 10px 10px 10px;
 align-items: center;
 display: flex;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul{
    list-style-type: none;
}

table{
    width: 50%;
    height: 70%;

    border: 3px solid black;
}
td,th{
    height:30px;
    border: 3px solid black;
}

#tables{
margin-left: auto;
margin-right: auto;
}

.maincontainer{
    margin-top: 40px;
     font-family:Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   font-size: larger;

}
.container{
margin-top: 30px;
   text-align: center;
}